@import './variables.scss';


.dataContainer {
  font-size: 20px !important;
  display: flex;
  align-items: center;
  border-radius: $radius-fields;
}

.dashboardHeader {
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 40px !important;
  font-weight: 60;
  color: white;

  padding-left: 3vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
  margin-bottom: 20px;
  border: none;
  height: 15vh;
  width: 93vw !important;

  background-color: transparentize($color-complement-light, 0.7);
  overflow: auto;
  border-radius: $radius-fields;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  
}

.dashboardTitle {
  min-height: 30px;
}

.dashboardHeader::-webkit-scrollbar{
  width: 0;
}   

.dataBoxScroll {
  border: none;
  height: 72vh;
  width: 90vw !important;
  background-color: transparentize($color-complement-light, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: auto;
  border-radius: $radius-fields;
}

.dataBoxScroll::-webkit-scrollbar{
  width: 0;
}      

.dataBox {
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 17px !important;
  font-weight: 60;
  line-height: 23px;
  height: $data-box-height;
  min-width: $data-box-width;
  padding: 20px;
  margin: 10px;
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: $radius-fields;
  text-align: center;

  &:hover {
    background-color: darken(white, 15);
  }
}


.lineGraph {
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 20px !important;
  font-weight: 60;
  height: 250px;
  min-width: 350px;
  padding: 10px;
  margin: 10px;
  align-self: center;
  flex-direction: column;
  justify-content: center;

  &:hover {
    background-color: darken(white, 15);
  }
}

.leftScroll {
  background-color: transparentize($color-complement-light, 0.7);
  font-size: 30px !important;
  height: 72vh;
  min-width: 3vw;
  //padding-left: 5px;
  color: $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightScroll {
  background-color: transparentize($color-complement-light, 0.7);
  font-size: 30px !important;
  height: 72vh;
  min-width: 3vw;
  //padding-left: 5px;
  //padding-right: 5px;
  color: $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
}
