@import './variables.scss';

#board {
  width: 390px;
  height: 390px;
  // border: 5px solid $lightOrange;
  // background-color: $darkBlue;
  margin: 20px auto;
  padding: 0;
}

.dataContainer {
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 20px !important;
  font-weight: 60;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: $radius-fields;
  text-align: center;
}

.dataBox {
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 20px !important;
  font-weight: 60;
  height: $data-box-height;
  width: $data-box-width;
  padding: 10px;
  margin: 10px;
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $radius-fields;
  text-align: center;

  &:hover {
    background-color: darken(white, 15);
  }

}
