// Import Roboto Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


.loginText {
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 60px !important;
  color: $color-complement-light;
  font-weight: 60;
  padding-right: 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 50vw;
}

.loginContainer {
  display: flex;
  justify-content: space-between;
  width: 70wh;
  //cursor: url('../assets/dollar-small.png'), cell;
  
}

.loginBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-complement-light;
  line-height: 0;
  width: 300px;
  height: 400px;
  flex: auto;
  border-radius: $radius-fields;
  border: 0px solid white;
  margin: 5px;
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 23px;
  font-weight: 60;
  line-height: 100px;
  color: $color-background;
  text-align: center;
  //cursor: cell;
  cursor: cell;
  padding: 40px;

  &:hover {
    background: linear-gradient($color-complement-light, $color-complement);
  }

}

input {
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 20px !important;
  font-weight: 60;
  height: $input-box-height;
  padding: 10px;
  margin: 10px;
  width: 200px;
  background: white;
  border: none;
  display: flex;
  border-radius: $radius-fields;
  text-align: center;
}

#loginButton {
  font-family: 'Roboto', 'Thin 100', sans-serif;
  font-size: 20px !important;
  font-weight: 60;
  height: $input-box-height;
  padding: 10px;
  margin: 20px;
  width: 100px;
  background: $color-background-light;
  border: none;
  display: flex;
  border-radius: $radius-fields;
  align-items: center;
  flex-direction: column;
  &:hover {
    background: $color-background;
    cursor: cell;
  }
}
