@import '_dashboard';
@import '_login';
@import '_marquee';
@import '_variables';

body {
  background: linear-gradient($color-background-light, $color-background);
  display: flex;
  max-height: 100vh !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: cell;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px !important;
  font-weight: normal !important;
  color: $color-complement-light;
  line-height: 30px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px !important;
  line-height: 25px;
  font-weight: normal !important;
  color: $color-complement-light;
}